.DS_Store
*.devhelper
library/Tinhte/XenTag/DevHelper/Generated/*
library/Tinhte/XenTag/FileSums.php
js/Tinhte/XenTag/bb_code_edit.js
js/Tinhte/XenTag/frontend.js
library/Tinhte/XenTag/DevHelper/XFCP
